# Introduction to Python

This Python "notebook" is designed to give a brief introduction to variables, different data types, and a rough 'how-to' write your own Python code.

# To run a cell:
# 1) Click on the cell (where the code is!)
# 2) CONTROL + ENTER

<img src="files/control.jpg" width="100"><img src="files/enter.png" width="200">

## Data Types

There are many different types of data in Python. Common data types include strings, integers, lists, and booleans (true/false). We can do things with some data types, that we can't do with others. For example, we can check if a number is positive or negative, but we can't check if someone's name (Steve) is positive or negative.

### Strings

In python, a 'string' is just a series of letters, numbers, and symbols. For example, the town name "Essex" can be thought of as a string, consisting of five letters. Essentially, strings can be thought of as text. In order to define a string in Python, we simply put quotes (either single or double) around the text.

In [12]:
"Essex"

'Essex'

In [13]:
"This is a string, and so is the number 54, below:"

'This is a string, and so is the number 54, below:'

In [5]:
"54"

'54'

We can also interact with our strings, combining them, changing case, and much more!

In [6]:
"Writing python" + " is fun!"

'Writing python is fun!'

In [10]:
"i'm really excited".upper()

"I'M REALLY EXCITED"

#### Try it yourself!

1) Try adding two strings together!  
2) Try making an upper case string into lower case!  

*BONUS*) Can you you do both 1 and 2 at the same time?

### Integers (and "floats")

Integers are just numbers without fractional parts (that is, there is no decimal point). An integer in Python is the same as an integer learned about in math class. Some examples of integers are 0, 1, 2, 3, 255, -455, and 1337. To define an integer in Python, we simply type the numbers, with no quotes.

Similar to an integer, we have a data type called a 'float'. A float is a number that *does* require a decimal point to define; there is a fractional part.

In [22]:
46

46

In [23]:
-15

-15

Similar to strings, there are many operations we can perform on integers. This includes adding, multiplying, subtracting, and much more! If we divide two integers, we might get a float back, instead of an integer...

In [19]:
5 + 5

10

In [25]:
160 / 12   # This results in a float, as 160 is not evenly divided by 12.

13.333333333333334

In [14]:
10 < 5  # This operation is checking if 10 is less than 5, and returns "False".

False

#### Try it yourself!

1) Perform a multiplication that you can't do in your head.  
2) Try using the // (two slashes) operator to divide 160 by 12. How does this differ?

### Lists

Lists are just a collection of other 'things'. That is, we can have a list of numbers: **[1, 2, 3, 4, 5]**   

Or, we can have a list of states (where each state is a string): **["Vermont", "California", "New Mexico"]** 

We can also have lists that contain mixed types of things: **[1, -5, "Metallica", 53, "Bernie mittens"]**  

Defining a list is simple; we use square brackets [ ], with commas separating each item in the list.

In [4]:
[5, 4, 3, 2, 1, -1, 56]

[5, 4, 3, 2, 1, -1, 56]

There are a lot of interesting things we can do we lists. We can combine them:

In [5]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

We can grab a number out of our list. For instance, if we want to grab the third item, we use [2]. The reason this is [2] instead of [3], is because **python starts counting at zero**.

In [6]:
["Milton", "Essex", "Westford", "Burlington"][2]

'Westford'

#### Try it yourself!

1) Try making a list of your teacher's names. Remember, each name is a string!  
2) Make a list of both strings and integers.  

*Bonus*) Find the length of a list, by wrapping an entire list in the "len()" function.    
**HINT**: It should looks something like: len(*your_list_here*)

# Variables

Variables allow us to save our data as a named 'thing'. To make a variable, we simply use the '=' sign.

In [2]:
town_name = "essex"

This saves the string 'essex' into the variable named 'town_name'.

Now, we can do the string things we learned about previously...

In [3]:
town_name.upper()

'ESSEX'

In [6]:
"I live in " + town_name.capitalize()

'I live in Essex'

In [12]:
year = "2021"
month = "January"
day = "27"

date = "Today is the " + day + "th day of " + month + ', ' + year + '!'

In [13]:
print(date)

Today is the 27th day of January, 2021!

In [18]:
friends = ['jeff', 'mark', 'jessica', 'steve', 'anna']

print(friends[0])
print(friends[3])

print("I have", len(friends), "friends")

jeff
steve
I have 5 friends

# For Loop 

One of the most important structures in programming. Almost all languages have the concept of a 'for' loop.

The for loop allows us to operate on each item in a list, one at a time.

**Imagine we want to print every name in the list of names. Here is one way we could do this:**

In [19]:
name = 'jeff'
print(name)

name = 'mark'
print(name)

name = 'jessica'
print(name)

name = 'steve'
print(name)

name = 'anna'
print(name)

jeff
mark
jessica
steve
anna

**Instead of this, we can use a 'for' loop to. This loop defines a new variable, 'name', assigning each friend to this variable, one at a time.**

In [20]:
friends = ['jeff', 'mark', 'jessica', 'steve', 'anna']
for name in friends:  # The first time through the loop, name = 'jeff'
    print(name)       # once we print the name to the screen, we got back to the previous linee, and start the next name in the list (mark)

jeff
mark
jessica
steve
anna

**We can also loop over a list of numbers, and print out that number multiplied by 2:**

In [24]:
for number in [1, 2, 3, 4, 5]:
    print(number * 2)

1 2
2 4
3 6
4 8
5 10